.card {
    // properties
    background-color: $clr-white;
    height: 30rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    // text
    text-align: center;

    .card--image {
        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }
    }

    .card--content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        h1 {
            color: $clr-dark-blue;
            font-size: 1.4rem;
        }
        p {
            color: $clr-grayish-blue;
            font-size: 0.9375rem;
        }
    }
}

@media (max-width: $mobile) {
    .card {
        width: 16rem;
    }
}